<h1>All Shelters</h1>
<%@shelters.each do |shelter| %>
<p><%= shelter.name %></p>
<% end %>

<br>

<h2>Shelter's With Pending Applications</h2>
<%@shelters_list.each do |shelter| %>
<p><%= shelter.name %></p>
<% end %>
